/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Hero CSS */
#hero {
  background-image: url(../images/phone-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 300px;
}

/* Search Box CSS */
.search-box {
  width: 50%;
}

/* Main Content Body CSS */
main {
  min-height: calc(100vh - 390px);
}

/* Phone Details CSS */

.phone-details {
  display: none;
}

.details ul {
  padding-left: 15px;
}
.details ul li {
  list-style: none;
}

/* Display All CSS */

.load-more {
  display: none;
}
.show-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

/* Responsive */
@media screen and (max-width: 480px) {
  #hero h1 {
    font-size: 1.5rem;
  }
  .search-box {
    width: 95%;
  }
  .show-result {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}